head
  style
    include ../stylesheets/basic.css
    include ../stylesheets/dashboard.css
    include ../stylesheets/create-task.css
  include ./partials/topbar.pug
  include ./partials/message.pug
  script(src='./socket.io/socket.io.js')
  script
    include ../scripts/createTask.js
    include ../scripts/jquery.js
    include ../scripts/taskSocket.js

  script.

    $('document').ready(function(){

      let id = "#{id}";
      var socket = initializeSocket(id);
      let supes = !{JSON.stringify(supes)};
      let ka = !{JSON.stringify(known_associates)}
      subs = !{JSON.stringify(subs)};


      $(".createTask").click(function(){addTaskBox(id, socket, supes, ka, subs)});
    })



+topbar(name, unreadNotifications)
+message(messages)


h2 Go To
div#button-row
  a(href="/tasks")
    div.link-button
      div.link-row My Tasks
  a(href="/assigned")
    div.link-button
      div.link-row Tasks I've Assigned
  a
    div.link-button.createTask 
      div.link-row Create Task
  a(href="/people")
    div.link-button 
      div.link-row People
