head
  style
    include ../stylesheets/basic.css
    include ../stylesheets/create-task.css
    include ../stylesheets/dashboard.css
    include ../stylesheets/task.css
  include ./partials/topbar.pug
  include ./partials/message.pug
  script(src='./socket.io/socket.io.js')
  script
    include ../scripts/jquery.js
    include ../scripts/taskHandler.js
    include ../scripts/createTask.js
    include ../scripts/taskSocket.js
  script.


    $('document').ready(function(){

      function updateFilteredTasks(ft){
        filtered_tasks = ft;
      }
      
      var tasks = !{JSON.stringify(tasks)};
      var filtered_tasks = [];
      var known_associates = !{JSON.stringify(known_associates)};
      var subs = !{JSON.stringify(subs)};
      var tags = [];  

      var self_id = "#{id}";
      var socket = initializeSocket(self_id);

      const rtf = renderTaskFilter(tasks, filtered_tasks, self_id, known_associates, socket);
      $('#rtf-container').append(rtf);


      socket.on('task-edit', function(task){
        console.log('\ntaskView.pug - task was edited:', task)
        if (tasks.find((t)=>t._id==task._id)) {
          let oldTask = tasks.find((t)=>t._id==task._id);
          if (oldTask.showChildren) task.showChildren=true;
          
          tasks.splice(tasks.indexOf(tasks.find((el) => el._id == task._id)), 1, task);
          updateTasks(tasks);

        } else {
          //- if edited task was NOT previously in tasks
          tasks.push(task);
          updateTasks(tasks);
        }
        filterTasks(); 
      })

      socket.on('new-subtask', function(subtask) {
        tasks.push(subtask);
        updateTasks(tasks);
        let parent = tasks.find((t)=>t._id==subtask.parentTask);
        let parentEl = getTaskEl(parent._id);
      });

      socket.on('new-task', function(task){
        tasks.push(task);
        updateTasks(tasks);
        filterTasks();
        
      })

      socket.on('delete-task', function(task){
        let check = tasks.length;
        let deletedTask = tasks.find((t)=>t._id==task._id);
        tasks = tasks.filter(function(t){
          return t!=deletedTask;
        })
        updateTasks(tasks);
        filterTasks();
      });    

    })

body    

  +topbar(name, unreadNotifications)
  +message(messages)
  #rtf-container
  .separation-bar
  #task-view 

