body {
  margin: 0;
}

#topbar {
  min-height: 25px;
  background-color: rgb(177, 235, 229);
  padding: 5px;
  contain: content;
  background-size: auto;
}

.welcome {
  float: left;
  color: white;
  font-size: 30px;
}

#settings-logout-links {
  float: right;
}

.topbar-link {
  padding: 6px;
  color: white;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  margin-left: 5px;
}

